<div class="events">
  <h1>All events</h1>
  <p class="lead">Complete list of all events for coming days</p>
  <div class="row">
    <div class="col-lg-12 ">
      <ul class="nav nav-tabs" *ngIf="sports">
        <li *ngFor="let sport of sports" role="presentation" [ngClass]="{'active': currentSport == sport}">
          <a (click)="setCurrentSport(sport)"><svg class="icon icon-american_football"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-american_football"></use></svg>{{sport.name}}<span class="badge">{{sport.events}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <st-box-sport *ngIf="currentSport != null" [sport]="currentSport"></st-box-sport>
  </div>
</div>