.box-event {
    padding: 0;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    .event-header {
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: #eeeeee;
        }
    }
    .team-show-container {
        padding: 8px 0 0 0;
    }
    a {
        cursor: pointer;
    }
    .event-time {
        padding: 20px 0;
        font-size: 18px;
        color: #555555;
    }
    .channels {
        padding: 15px 10px;
        border-top: 1px solid #ddd;
        .channel {
            margin: 0 5px;
            img {
                width: 16px;
            }
        }
    }
}