.box-event {
    padding: 0;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    .event-header {
        margin: 0;
        cursor: pointer;
        font-size: 12px;
        &:hover {
            background-color: #eeeeee;
        }
        .event-time {
            padding: 15px 0;
            font-size: 14px;
            color: #555555;
        }
    }
    .team-show-container {
        padding: 8px 0 0 0;
    }
    a {
        cursor: pointer;
    }
    .channels {
        padding: 15px 10px;
        border-top: 1px solid #ddd;
        .channel {
            margin: 0 5px;
            img {
                width: 16px;
            }
        }
    }
}